<div class="messageBox">
    <div class="modal-header">
        <h3>Account Settings</h3>
    </div>
    <div class="modal-body account-modal">
        <div class="tabbable">
            <ul class="nav nav-tabs">
                <li class="active"><a href="#tab1" data-toggle="tab">Summary</a></li>
                <li><a href="#tab2" data-toggle="tab">API Keys</a></li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane active" id="tab1">
                    <p>Account summary.</p>
                </div>
                <div class="tab-pane" id="tab2">
                    <p>API keys.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" data-bind="click:ok">Done</button>
    </div>
</div>