    <div class="private-key-well">

    <span>[PRIVATE KEY]</span>
    <span class="pull-right">
        <a href="#" data-toggle="tooltip" title="" class="icon icon-refresh pad" data-title="Roll key"></a>
        <a href="#" data-toggle="tooltip" title="" class="icon icon-cut" data-title="Copy key to clipboard"></a>
    </span>

    </div>


    <div class="public-key-well">

        <span>[PUBLIC KEY]</span>
    <span class="pull-right">
        <a href="#" data-toggle="tooltip" title="" class="icon icon-refresh pad" data-title="Roll key"></a>
        <a href="#" data-toggle="tooltip" title="" class="icon icon-cut" data-title="Copy key to clipboard"></a>
    </span>

    </div>