<div class="messageBox">
    <div class="modal-header">
        <h4 class="muted">Change Password</h4>
    </div>

    <div class="modal-body">
        <form method="put">
            <fieldset>
                <div class="control-group">
                    <div class="controls">
                        <input class="span4" id="currentPassword" type="password" placeholder="current password" data-bind="value: currentPassword" autofocus="autofocus">
                    </div>
                </div>
                <div class="control-group">
                    <div class="controls">
                        <input class="span4" id="newPassword" type="password" placeholder="new password" data-bind="value: newPassword">
                    </div>
                </div>

                <div class="validation-summary">
                    <ul style='visible:false' data-bind="foreach: alerts, css: {visible: alerts().length > 0}">
                        <li><div class='alert alert-error' data-bind="text:$data"></div></li>
                    </ul>
                </div>
            </fieldset>
        </form>
    </div>

    <div class="modal-footer">
        <img class="pull-left" src="/img/loader_32.gif" data-bind="visible: loading"/>
        <button class="btn btn" data-bind="click:cancel, enabled: !loading">Cancel</button>
        <button class="btn btn-primary" data-bind="click:updatePassword, enabled: !loading">Change Password</button>
    </div>
</div>