html, body {
    height: 100%;
    background-color: #fff;
}

#wrap {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -120px;
}

#wrap > .container {
    padding-top: 60px;
}


.chat-message {
    list-style-type: none;
    list-style: none;
    min-width:300px;
    min-height:24px;
    background-color: #fafafa;
    margin-top:4px;
}

.chat-input {
    min-width:600px;
    min-height:72px;
    box-sizing: border-box;
}

input#chat-button{
cursor:pointer;
padding:5px 25px;
min-width:72px;
background:#35b128;
border:1px solid #33842a;
-moz-border-radius: 10px;
-webkit-border-radius: 10px;
border-radius: 10px;
-webkit-box-shadow: 0 0 4px rgba(0,0,0, .75);
-moz-box-shadow: 0 0 4px rgba(0,0,0, .75);
box-shadow: 0 0 4px rgba(0,0,0, .75);
color:#f3f3f3;
font-size:1.1em;
}


input#chat-button:hover, input#chat-button:focus{
background-color :#399630;
-webkit-box-shadow: 0 0 1px rgba(0,0,0, .75);
-moz-box-shadow: 0 0 1px rgba(0,0,0, .75);
box-shadow: 0 0 1px rgba(0,0,0, .75);
}


.pad {
    padding-right:8px;
}

#applicationHost {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -120px;
}

.private-key-well {
    position: relative;
    margin: 15px 0;
    padding: 39px 19px 14px;
    background-color: #efefef;
    border: 1px solid #ddd;
    color: #343434;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

.private-key-well:after {
    content: "Private Key";
    position: absolute;
    top: -1px;
    left: -1px;
    padding: 3px 7px;
    font-size: 12px;
    font-weight: bold;
    background-color: #f8f8f8;
    border: 1px solid #ddd;
    color: #9da0a4;
    -webkit-border-radius: 4px 0 4px 0;
    -moz-border-radius: 4px 0 4px 0;
    border-radius: 4px 0 4px 0;
}


.public-key-well {
    position: relative;
    margin: 15px 0;
    padding: 39px 19px 14px;
    background-color: #efefef;
    color: #343434;
    border: 1px solid #ddd;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}


.public-key-well:after {
    content: "Public Key";
    position: absolute;
    top: -1px;
    left: -1px;
    padding: 3px 7px;
    font-size: 12px;
    font-weight: bold;
    background-color: #f8f8f8;
    border: 1px solid #ddd;
    color: #9da0a4;
    -webkit-border-radius: 4px 0 4px 0;
    -moz-border-radius: 4px 0 4px 0;
    border-radius: 4px 0 4px 0;
}



#push, #footer { height: 120px; }
#footer { background-color: #efefef; }

@media (max-width: 767px) {
    #footer {
        margin-left: -20px;
        margin-right: -20px;
        padding-left: 20px;
        padding-right: 20px;
    }
}

.container {
    width: auto;
    max-width: 680px;
}

.container .credit {
    padding-top:20px;
    text-align:center;
}

.loading-text {
    text-align:center;
}

.loader {
    width:32px;
    height:32px;
    display: block;
        margin-left: auto;
        margin-right: auto;
}


.view-content {
    top: 40px;
}

.account-modal {
    width: 400px;
    min-height:230px;
}

.engraved {
    text-shadow: 0px 1px 1px rgba(255,255,255,0.35);
    color: #565656;
}

a:hover {
    text-decoration: none;
}




.modalBlockout {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background: black;
    opacity: 0;

    pointer-events: auto;

    -webkit-backface-visibility: hidden;

    -webkit-transition: opacity 0.1s linear;
	-moz-transition: opacity 0.1s linear;
	-o-transition: opacity 0.1s linear;
	transition: opacity 0.1s linear;
}


.modalHost {
    top: 300px;
    left: 50%;
    position: fixed;
    opacity: 0;
    -webkit-backface-visibility: hidden;
    -webkit-transition: opacity 0.1s linear;
	-moz-transition: opacity 0.1s linear;
	-o-transition: opacity 0.1s linear;
	transition: opacity 0.1s linear;
}

.modalHeader {
    background-color: #efefef;
}

.messageBox {
    background-color: white;
    border: 1px solid #999;
    border: 1px solid rgba(0, 0, 0, 0.3);
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    outline: none;
    -webkit-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
    box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding-box;
    background-clip: padding-box;
    min-width: 300px;
}


label.valid {
		  display: none;
		  visibility: hidden;
		}

label.error {
            visibility: visible;
			font-weight: bold;
			color: red;
			padding: 2px 2px;
			margin-top: 0px;
			}


.validation-summary {
    list-style: none;
}

.validation-summary ul {
    list-style-type: none;
    padding: 0 !important;
    margin: 0 !important;
}

.form-signin {
        max-width: 320px;
        padding: 19px 29px 29px;
        margin: 0 auto 20px;
        background-color: #fff;
        border: 1px solid #e5e5e5;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        border-radius: 4px;
        -webkit-box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.15);
        -moz-box-shadow:    0px 3px 6px rgba(0, 0, 0, 0.15);
        box-shadow:         0px 3px 6px rgba(0, 0, 0, 0.15);
}

.form-signin .form-signin-heading,
.form-signin .checkbox {
    margin-bottom: 10px;
}

.form-signin input[type="text"],
.form-signin input[type="password"] .add-on {
    font-size: 16px;
    height: 18px;
    margin-bottom: 15px;
    padding: 7px 9px;
}

